.header {
	.navbar {
		padding: 37px 0;
		@include for-small-screen() {
			padding: 20px 0;
		}
	}

	.nav-link {
		@extend .inter-18-600;
		display: inline-block;
		color: $color-white;
		margin: 0 15px 0 15px;
	}
	
	.header__icon {
		padding: 0 20px;
	}

	.navbar-toggler {
		border: unset;

		&:focus {
			box-shadow: unset;
		}
	}

	.navbar-collapse {
		@include for-small-screen() {
			text-align: center;
		}
	}
}

