.header {
	
	&__action-btns:last-child {
		padding-right: 0;
	}
	
	&__icon {
		display: inline-block;
		padding: 0 10px;
	}
	&__logo {
		
		max-width: 140px;
	}
	
	&__group-text {
		border-radius: $common-value-unset;
		border-top-right-radius: 4px;
		background-color: $color-grey-100;
	
		i {
			cursor: pointer;
		}
	}

	&__input-group {
		min-height: 56px;
		min-width: 256px;
	}

	&__form-control {
		border-radius: $common-value-unset;
		border: 0;
		border-top-left-radius: 4px;
		background-color: $color-grey-100;
	
		&:focus {
			background-color: $color-grey-100;
			box-shadow: $common-value-unset;
		}
	}
}

