.product {
	padding: 40px 0 62px;

	&__card {
		padding: 24px 34px 40px;
		border: 0;

		@include for-small-screen() {
			padding: 24px 16px 32px 24px;
		}

		@include border-radius(0);
	} 
	&__card-body {
		padding: 0;
	}
	&__card-title {
		margin-bottom: 13px;
	}

	&__form-check {
		margin-bottom: 13px;
	}

	.product__form-check-input.me-2 {
		margin-right: 0;
	}

	.btn {
		@include for-small-screen() {
			padding: 11px 14px;
		}
	}


	.product__action {
		display: inline-block;

		&:not(:first-child) {
			padding-left: 20px;
		}

		i {
			@include hover {
				color: $color-primary;
			}
		}
	}

	.product__actions-group {
		height: 100%;
	}
	
	.form-check-input:checked {
		background-color: $color-tertiary;
	}

	&__form-check-input {
		width: 20px;
		height: 20px;
		border: 2px solid $color-grey-300;
		background-color: transparent;

		&:checked {
			border-color: $color-grey-300;
		}

		&:focus {
			box-shadow: unset;
			border-color: $color-tertiary;
		}
	}

	.product__form-select {
		@include border-radius(4px);
		@extend .inter-14-400;
		border-bottom-left-radius: unset;
		border-bottom-right-radius: unset;
		border: 0;
		border-bottom: 1px solid $color-grey-200;
	}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	position: relative;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: $color-grey-100;
}

.carousel-control-prev-icon {
	&::before {
		content: '\f053';
		font: var(--fa-font-solid);
		@include absolute-center();
		font-size: 24px;
		color: $color-black;
		position: absolute;
	}
}
.carousel-control-next-icon {
	&::before {
		content: '\f054';
		font: var(--fa-font-solid);
		@include absolute-center();
		font-size: 24px;
		color: $color-black;
		position: absolute;
	}
}