.breadcrumb-item {
	a {
		@extend .inter-13-400;
		color: $color-black;

		@include hover {
			color: $color-primary;
		}
	}

	// overriding bootstrap default content and padding

	&::after,
	&+.breadcrumb-item::after {
		content: '\f054';
		font: var(--fa-font-solid);
		font-size: 12px;
		color: $color-black;
		padding-left: 14px;
	}
	&::before,
	&+.breadcrumb-item::before {
		display: $common-value-none;
	}
	
	.breadcrumb-item + .breadcrumb-item {
		padding-left: 13px;
	}
}