.carousel-control-prev-icon,
.carousel-control-next-icon {
	position: relative;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: $color-grey-100;
}

.carousel-control-prev-icon {
	&::before {
		content: '\f053';
		font: var(--fa-font-solid);
		@include absolute-center();
		position: absolute;
		font-size: 24px;
		color: $color-black;
	}
}

.carousel-control-next-icon {
	&::before {
		content: '\f054';
		font: var(--fa-font-solid);
		position: absolute;
		@include absolute-center();
		font-size: 24px;
		color: $color-black;
	}
}