@import 'variables';

%bg-image {
	background-position: $common-value-center $common-value-center;
	background-size: cover;
	background-repeat: no-repeat;
	width: $common-value-100;
	height: $common-value-100;
	left: $common-value-0;
	top: $common-value-0;
}

@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}

// Reusable classes for margins and padding
.mb-30 {margin-bottom: 30px;}
.mb-36 {margin-bottom: 36px;}
.mb-26 {margin-bottom: 26px;}
.mb-25 {margin-bottom: 25px;}
.mb-20 {margin-bottom: 20px;}
.mb-10 {margin-bottom: 10px;}

// Reusable classes for small screens
.mb-sm-25 {margin-bottom: 25px;}
.mb-sm-16 {margin-bottom: 16px;}

.ptb-36 {padding: 36px 0;}