// Common values
$common-value-0: 0;
$common-value-100: 100%;
$common-display-flex: flex;
$common-display-block: block;

// Colors
$color-white: #fff;
$color-black: #1E1E1E;
$color-primary: #FE5E41; 
$color-secondary: #F2F2F2; 
$color-tertiary: #00A878; 

//------- Screen Resolutions
$sm: 540px;
$md: 768px;
$lg: 960px;
$xl: 1170px;