<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-25">
		<li class="breadcrumb-item d-flex align-items-center active" aria-current="page"><a href="{{indexDir}}/index.html">Home</a></li>
		<li class="breadcrumb-item d-flex align-items-center"><a href="javascript:;">Products</a></li>
		<li class="breadcrumb-item d-flex align-items-center"><a href="javascript:;">Bikes</a></li>
	</ol>
</nav>