<div class="modal | js-modal"> 
							<div class="modal-bg | js-modal-bg"></div>
							<div class="modal-inner bg-white | js-modal-inner">
								<div class="modal-content">
							
									<button class="modal-button js-modal-button">
										<svg viewBox="0 0 314.009 314.009" style="width: 18px; height: 18px">
											<use href="{{assets}}/img/svg-sprite/sprite.svg#close"></use>
										</svg>
									</button>
								</div>
							</div>
						</div>