<nav class="nav align-self-end">
              <ul class="nav__menu d-flex | js-nav-menu">
                <li class="nav__item">
                  <a href="{{indexDir}}" clas="nav__link">Products</a>
                </li>
                <li class="nav__item">
                  <a href="{{indexDir}}/pages/services.html" class="nav__link">Services</a>
                </li>
                <li class="nav__item">
                  <a href="{{indexDir}}/pages/services.html" class="nav__link">Contact</a>
                </li>
              </ul>
              <div class="hamburger | js-hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </nav>