<section class="product-info ptb-36">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<h2 class="product-info__title mb-30">{{{product.title}}}</h2>
				<p class="product-info__text mb-25">{{{product.text}}}</p>
				<button type="button" class="btn btn-lg btn--tertiary">{{product.btnText}}</button>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="product-info__img">
				<img src="{{product.img}}" alt="#" class="img-fluid">
			</div>
			</div>
		</div>
	</div>
</section>