<section class="specifications bg-grey ptb-36">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h2 class="specifications__title mb-30">{{specifications.title}}</h2>
			</div>
		</div>
		<div class="row">
			<table class="table table-striped">
  				<thead>
					<tr>
						<th class="body-small col" scope="col">Model</th>
						<th class="body-small" scope="col">Frame size</th>
						<th class="body-small" scope="col">Weight</th>
						<th class="body-small" scope="col">Max speed</th>
						<th class="body-small" scope="col">Battery</th>
						<th class="body-small" scope="col">Engine</th>
					</tr>
  				</thead>
 				<tbody>
					<tr>
						<th scope="row">Ladies - Small</th>
						<th>First</th>
						<th>Last</th>
						<th>Handle</th>
						<th>Handle</th>
						<th>Handle</th>
					</tr>
					<tr>
						<th scope="row">Ladies - Medium</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">Ladies - Large</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
						<td>@fat</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">Gents - Small</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
						<td>@twitter</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<th scope="row">Gents - Small</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
						<td>@twitter</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<th scope="row">Gents - Medium</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
						<td>@twitter</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<th scope="row">Gents - Large</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
						<td>@twitter</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>