
// Import web safe fonts
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Font styles and sizes classes 

%inter {
	font-family: $font-secondary;
	font-style: normal;
}
%poppins {
	font-family: $font-primary;
	font-style: normal;
}

.inter-13-400 {
	@extend %inter;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.inter-14-400 {
	@extend %inter;
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
}
.inter-14-600 {
	@extend %inter;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}

.inter-16-400 {
	@extend %inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}
.inter-16-600 {
	@extend %inter;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.inter-18-600 {
	@extend %inter;
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
}

.poppins-16-600 {
	@extend %poppins;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
}

.poppins-24-600 {
	@extend %poppins;
	font-weight: 600;
	font-size: 24px;
	line-height: 32PX;
}

.poppins-40-600 {
	@extend %poppins;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
}

.poppins-28-600 {
	@extend %poppins;
	font-weight: 600;
	font-size: 28px;
	line-height: 129%;
}

h1, h2, h3, h4, h5, h6, p {
	color: $color-black;
}

h1 {
	@extend .poppins-40-600;

	@include for-small-screen() {
		font-size: 28px;
		line-height: 36px;
	}
}

h2 {
	@extend .poppins-28-600;
}

h3 {
	@extend .inter-16-600;
}

h4 {
	@extend .poppins-24-600;
}
p {
	@extend .inter-16-400;

	@include for-small-screen() {
		font-size: 14px
	}
}

.body-small {
	@extend .inter-14-600;
	color: $color-primary;
}

a {
	@extend .inter-18-600;
	text-transform: capitalize;
	color: $color-white;
	transition: 0.3s color;
	will-change: color;

	@include hover {
		color: $color-black;
	}
}

.text-important {
	color: $color-primary;
}